.App {
  /* text-align: center; */
  background-image: url("https://mobirise.com/bootstrap-template/assets/images/jumbotron.jpg");
  scroll-behavior: smooth;
}

body {
  font-family: "Alata", sans-serif;
  scroll-behavior: smooth;
}

.jumbotron {
  background-image: url("https://mobirise.com/bootstrap-template/assets/images/jumbotron.jpg");
  background-size: cover;
  /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).jpg"); */
  min-height: 800px;
  color: whitesmoke;
  margin: 0px;
}

#heading {
  text-align: center;
}
a {
  color: black;
}

a:hover {
  color: pink;
}

a.porfolioLink:hover {
  color: pink;
}

i {
  text-align: center;
  display: inline-block;
}

#projects {
  text-align: center;
  padding-top: 20px;
}

#portfolio {
  padding: 0px;
  background-image: none;
  background-color: white;
}

.navbar-light .navbar-brand {
  color: "#2C5530";
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: "#2C5530";
  font-size: 20px;
}

/* .nav-bar{
  color: whitesmoke !important;
} */

#skills {
  background-image: none;
  background-color: white;
}

#contact {
  background-color: white;
}
.bg-light {
  background-color: rgba(102, 39, 66, 0) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .jumbotron {
    height: 300px;
  }
}
